.display-4{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    font-weight: bold;
    color: white;
 }
 
 .jumbotron{
 background-color: rgb(59, 59, 141);
 }
 
 .container{
 }